*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;

}
#main{
    width:100%;
    height:100%;
    background-color: bisque;
}

 #main #nav{
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 70px;
    position: relative;
}
#main #nav a{
    font-size: 15px;
    font-weight:700 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
}
#main #nav #link{
    display: flex;
    gap:20px;
}

 #main #nav #icons{
    display: flex;
    gap:5px;
}

  #main #nav #icons #icons1{
    width:30px;
    height:30px;
    border-radius:50% ;
    background-color:rgb(16, 11, 4);
    display:flex;
    justify-content: center;
    align-items: center;
}
 #main  #nav #line{
    position: absolute;
    width: calc(100% - 140px);
    height: 2px;
    background-color: black;
    bottom: 0;
    left: -50;
    transform: translate(0,-50%);


}


 #main #center{
 width:50%;
 height:80%;
 background-color:transparent;
 position: absolute;
 top:55%;
 left:50%;
 transform: translate(-50%,-50%);

}

  #main #center #scenter h1{
    white-space: nowrap;
    font-size: 100px;
    font-weight: 800px;
    font-family: "voyage";
    position: absolute;
    top:0;
}
#main #center #scenter{
    height:65%;
    width:65%;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-top-left-radius:1000px ;
    border-top-right-radius: 1000px;
background-image:url(https://images.unsplash.com/photo-1616046229478-9901c5536a45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80) ;
background-size: cover;
background-position: center;
}
 #main #center #scenter #circle{
    width:90px;
    height:90px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    bottom:20%;
    right:-45px;
    border:2px solid black;
    

 }
 #main #center #scenter #circle h3{
    white-space: nowrap;
    font-size:9px ;
    font-weight: 600;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)rotate(-20deg);
 }


 #main #nik {
    width:70px;
    height:100px;
    background-color: bisque;
    position: absolute;
    top:50%;
    left:0;
    padding-left:70px ;
 }
 #main #nik h3{
    font-size:15px;
    font-weight: 400;
    font-family: "gilroy";
margin-bottom: 5px;
 }
#main #nik a{
    white-space: nowrap;
    text-decoration: none;
    color: rgb(225, 156, 36);
}
